<!DOCTYPE html>
<html>

<head>
    <title>
        Insert Page
    </title>
    <style>
        a {
            align-self: center;
        }

        body {
            background-color: #fafafa;
        }
    </style>
</head>

<body>
    <h1> INSERT PAGE </h1>
    <hr>
    <form method="post">
        <fieldset>
            <legend> INSERT DATA </legend>
            <table>
                <tr>
                    <td><label> 이름 </label></td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td><label> 그룹이름 </label></td>
                    <td><input type="text" name="modelnumber" /></td>
                </tr>
                <tr>
                    <td><label> 나이 </label></td>
                    <td><input type="text" name="series" /></td>
                </tr>
            </table>
            <input type="submit" />
        </fieldset>
    </form>
</body>

</html>